.form-group.floating > label {
    bottom: 34px;
    left: 8px;
    position: relative;
    background-color: white;
    padding: 0px 5px 0px 5px;
    font-size: 1.1em;
    transition: 0.1s;
    pointer-events: none;
    font-weight: 500 !important;
    transform-origin: bottom left;
}

.form-control.floating:focus ~ label {
    transform: translate(1px, -85%) scale(0.8);
    opacity: 0.8;
    color: #00ccbc;
}

.form-control:focus {
    border-color: #00ccbc;
    box-shadow: 0 0 0 0.2rem rgba(88, 177, 189, 0.336);
}

.form-control.floating ~ label {
    transform-origin: bottom left;
    transform: translate(1px, -85%) scale(0.8);
    opacity: 0.8;
}

.form-group {
    margin-bottom: 0;
    height: 70px;
}

#price::-webkit-outer-spin-button,
#price::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#price[type="number"] {
    -moz-appearance: textfield;
}

.img-preview {
    height: 100px;
    width: 100px;
}
