.menu-card:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
    transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
}

.dettagli-show {
    font-size: 1.3rem;
}

.edit-button {
    background-color: #49afca;
    color: white;
    display: flex;
    align-items: center;
}

.delete-button {
    background-color: #e98c22;
    color: white;
    display: flex;
    align-items: center;
}

.back-button {
    background-color: #78d04f;
    color: white;
    display: flex;
    align-items: center;
}

.show-button {
    background-color: #78d04f;
    color: white;
    display: flex;
    align-items: center;
}

.edit-button:hover {
    background-color: transparent;
    color: #49afca;
    border-color: #49afca;
}

.delete-button:hover {
    background-color: transparent;
    color: #e98c22;
    border-color: #e98c22;
}

.back-button:hover {
    background-color: transparent;
    color: #78d04f;
    border-color: #78d04f;
}

.show-button:hover {
    background-color: transparent;
    color: #78d04f;
    border-color: #78d04f;
}